<p>Animal: <%= @name %></p>
<p>Image: <img src="/images/<%= @image %>"></p>
<p>Description: <%= @description %></p>

<p><a href="/">go back </a></p>
<p><a href="/match/<%= @match_num %>/<%=@avoid_num%>"> find my match! </a></p>